dist: bionic
language: go
sudo: false

env: GO111MODULE=on

go:
  - 1.13.x
  - 1.14.x

git:
  depth: 1

notifications:
  email: false

before_script:
  - go install github.com/golangci/golangci-lint/cmd/golangci-lint

script:
  - golangci-lint run
  - go test ./...
